@using Microsoft.AspNetCore.Authorization

@{
    var isAdmin = User.HasClaim("Profile", "Administrador");
    var isUsuarioFinal = User.HasClaim("Profile", "Usuario Final");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sportify_Back</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/images/sportify-.png" alt="Sportify Solutions" style="max-height: 50px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Teachers" asp-action="Index">Profesores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Activities" asp-action="Index">Actividades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Users"
                                asp-action="Index">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Classes"
                                asp-action="Index">Clases</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav flex-grow-1">
                        
                        @* Opciones para "Usuario Final" *@
                        @if (isUsuarioFinal)
                        {
                            <li class="nav-item dropdown ms-2">
                                <div class="btn-group dropdown">
                                    <a class="btn btn-link text-white d-flex align-items-center nav-link-custom" href="@Url.Action("Index", "UsuarioFinal")">
                                        <img src="~/Images/fitness.png" alt="Index" style="max-height: 30px; margin-right: 8px;" />Usuarios
                                    </a>
                                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu bg-primary text-white" aria-labelledby="usuarioDropdown">
                                        <li><a class="dropdown-item text-white" href="@Url.Action("", "PorDefinir")" style="font-weight: 500;">Gestión de Turnos</a></li>
                                        <li><a class="dropdown-item text-white" href="@Url.Action("", "PorDefinir")" style="font-weight: 500;">Gestionar Suscripción</a></li>
                                        <li><a class="dropdown-item text-white" href="@Url.Action("", "PorDefinir")" style="font-weight: 500;">Seleccionar Plan</a></li>
                                        <li><a class="dropdown-item text-white" href="@Url.Action("", "PorDefinir")" style="font-weight: 500;">Cargar Apto Médico</a></li>
                                    </ul>
                                </div>
                            </li>
                        }

                        @* Opciones para "Administrador" *@
                        @if (isAdmin)
                        {
                            <li class="nav-item dropdown">
                                <div class="btn-group dropdown ms-2">
                                    <a class="btn btn-link text-white d-flex align-items-center" href="@Url.Action("Index", "UsuarioAdministrador")" style="font-weight: 600; padding: 5px 10px; text-decoration: none;">
                                        <img src="~/Images/teach.png" alt="Index" style="max-height: 30px; margin-right: 8px;" /> Profesores
                                    </a>
                                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu bg-primary text-white" aria-labelledby="adminDropdown">
                                        <li><a class="dropdown-item text-white" href="@Url.Action("", "PorDefinir")" style="font-weight: 600;">Administrar Profesores</a></li>
                                        <li><a class="dropdown-item text-white" href="@Url.Action("", "PorDefinir")" style="font-weight: 500;">Administrar Accesos</a></li>
                                        <li><a class="dropdown-item text-white" href="@Url.Action("", "PorDefinir")" style="font-weight: 500;">Cargar Disciplinas</a></li>
                                        <li><a class="dropdown-item text-white" href="@Url.Action("", "PorDefinir")" style="font-weight: 500;">Crear Clases</a></li>
                                        <li><a class="dropdown-item text-white" href="@Url.Action("", "PorDefinir")" style="font-weight: 500;">Administrar Roles</a></li>
                                        <li><a class="dropdown-item text-white" href="@Url.Action("", "PorDefinir")" style="font-weight: 500;">Generar Reportes</a></li>
                                    </ul>
                                </div>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container flex-grow-1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-primary text-white mt-4">
        <div class="container py-4">
            <div class="row align-items-center">
                <div class="col-md-3 text-center text-md-left mb-3 mb-md-0">
                    <img src="~/images/sportify-.png" alt="Sportify Solutions" class="footer-logo">
                </div>
                <div class="col-md-6 text-center mb-3 mb-md-0">
                    <a href="@Url.Action("Index", "Home")" class="text-white mx-2">Home</a> |
                    <a href="@Url.Action("About", "Home")" class="text-white mx-2">Sobre nosotros</a> |
                    <a href="@Url.Action("Contact", "Home")" class="text-white mx-2">Contacto</a>
                </div>
                <div class="col-md-3 text-center text-md-right">
                    <a href="#" class="text-white mx-2">
                        <img src="~/images/facebook.png" alt="Facebook" class="social-icon">
                    </a>
                    <a href="#" class="text-white mx-2">
                        <img src="~/images/instagram.png" alt="Instagram" class="social-icon">
                    </a>
                    <a href="#" class="text-white mx-2">
                        <img src="~/images/twitter.png" alt="Twitter" class="social-icon">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a href="@Url.Action("Terms", "Home")" class="text-white mx-2 max-height: 30px;">Términos y condiciones</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
