@model IEnumerable<Sportify_back.Models.Classes>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Clases</h1>

<p>
    <a asp-action="Create">Crear nueva clase</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Clase
            </th>
            <th>
                Actividades
            </th>
            <th>
                Día y horario
            </th>
            <th>
               Profesor
            </th>
            <th>
               Cupo
            </th>
            <th>
               Activa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activities.NameActivity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sched)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teachers.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Ver detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
