@model IEnumerable<Sportify_back.Models.Teachers>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Profesores</h1>

<p>
    <a asp-action="Create">Crear nuevo profesor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Nombre y Apellido
            </th>
            <th>
                DNI
            </th>
            <th>
               Correo electrónico
            </th>
            <th>
               Teléfono
            </th>
            <th>
                Dirección
            </th>
            <th>
                Actividades
            </th>
            <th>
                Activa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activities.NameActivity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Ver Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
